<category>
  <title><%= CGI.escapeHTML(category.title.to_s) %></title>
  <% product_children = category.children.select(&:product?).sort_by { |c| c.title.downcase } %>
  <% if product_children.any? %>
    <types>
      <% product_children.each do |product| %>
        <type>
          <name><%= CGI.escapeHTML(product.title.to_s) %></name>
          <% if product.synonyms.present? %>
            <synonyms>
              <% product.synonyms.sort_by { |c| c.downcase }.each do |syn| %>
                <synonym><%= CGI.escapeHTML(syn) %></synonym>
              <% end %>
            </synonyms>
          <% end %>
        </type>
      <% end %>
    </types>
  <% end %>
  <% non_product_children = category.children.sort_by { |c| c.title.downcase }.reject(&:product?) %>
  <% if non_product_children.any? %>
    <categories>
      <% non_product_children.each do |child| %>
        <%= render partial: "category", locals: { category: child } %>
      <% end %>
    </categories>
  <% end %>
</category>