<category>
  <title><%= CGI.escapeHTML(category.title.to_s) %></title>
  <% leaf_children = category.children.select { |c| c.children.empty? } %>
  <% if leaf_children.any? %>
    <types>
      <% leaf_children.each do |leaf| %>
        <type><%= CGI.escapeHTML(leaf.title.to_s) %></type>
      <% end %>
    </types>
  <% end %>
  <% non_leaf_children = category.children.reject { |c| c.children.empty? } %>
  <% if non_leaf_children.any? %>
    <categories>
      <% non_leaf_children.each do |child| %>
        <%= render partial: "category", locals: { category: child } %>
      <% end %>
    </categories>
  <% end %>
</category>